@import '../../global.scss';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

.portfolio{
     background-image: url("../../assets/patternBlue.jfif");
    background-repeat:repeat;
    display: flex;
    flex-direction: column;
    align-items: center;


    h1{
        margin-top: 30px;
        border-bottom: 1px solid whitesmoke;
        font-weight: 200;
        font-size: 50px;
        color: whitesmoke;
        font-family: 'Inconsolata', monospace;
        @include mobile{
            font-size: 20px;
            overflow: hidden;
        }
    }

    .videoContainer{
        margin-top: 20px;
        width: 80%;
        height: 80%;
        margin-bottom: -20px;
    }

    .iframe{
        position: relative; 
        height: 90%; 
        width: 100%;
    }

    .arrowContainer{
        color: yellow;
        margin-left: auto;
        margin-right: auto;

        span{
            margin-right: 30px;
            margin-left: 30px;
        }
    }
    
}